* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial;
}

.sidebar {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  color: white;
  min-height: 100vh;
  width: 290px;
  background: -webkit-gradient(linear, left top, left bottom, from(#0F0F10), color-stop(50.73%, #1D1E20), to(#111112));
  background: -o-linear-gradient(top, #0F0F10 0%, #1D1E20 50.73%, #111112 100%);
  background: linear-gradient(180deg, #0F0F10 0%, #1D1E20 50.73%, #111112 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.sidebar.closed {
  width: 61px;
}

.sidebar.closed .sidebar__header .toggle-sidebar {
  display: none;
}

.sidebar.closed .sidebar__header picture {
  margin-top: 6px;
}

.sidebar.closed .sidebar__header p {
  font-size: 0;
}

.sidebar.closed .sidebar__switcher {
  height: 20px;
}

.sidebar.closed .sidebar__switcher button {
  font-size: 0;
}

.sidebar.closed .sidebar__menu_split {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.sidebar.closed .sidebar__menu_split .menu__item_main:not(:last-child) {
  margin-bottom: 10px;
}

.sidebar.closed .sidebar__menu {
  padding: 0;
}

.sidebar.closed .menu__item_icon {
  margin-right: 0;
}

.sidebar.closed .menu__item_title {
  font-size: 0;
  opacity: 0;
}

.sidebar.closed .menu__item_main {
  padding: 4px 10px;
}

.sidebar.closed .menu__item_main.active {
  background: #27292b;
  border-radius: 5px;
  position: relative;
}

.sidebar.closed .menu__item_main.active .menu__item_sub {
  display: none;
}

.sidebar.closed .menu__item_main:hover {
  background: #27292b;
  border-radius: 5px;
}

.sidebar.closed .menu__item_main:hover::before {
  background: #27292b;
  content: "";
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  left: -10px;
}

.sidebar.closed .sidebar__menu_title {
  color: transparent;
}

.sidebar.closed .menu__item_sub {
  display: none;
}

.sidebar.closed .sidebar__profile_description,
.sidebar.closed .sidebar__profile_nickname,
.sidebar.closed .sidebar__profile_email,
.sidebar.closed .sidebar__profile_options {
  opacity: 0;
  font-size: 0;
}

.sidebar__main {
  overflow: hidden;
  height: calc(100vh - 70px);
  padding: 24px 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: auto;
}

.sidebar__profile {
  background: #222426;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0px 13px;
}

.sidebar__profile_avatar {
  border-radius: 30px;
  outline: 1px solid white;
  margin-right: 9px;
}

.sidebar__profile_avatar:hover {
  -webkit-filter: grayscale(0.5);
  filter: grayscale(0.5);
}

.sidebar__profile_description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 5px;
  margin-right: auto;
}

.sidebar__profile_description p {
  margin: 0;
}

.sidebar__profile_nickname {
  -webkit-transition: font-size 0.8s;
  -o-transition: font-size 0.8s;
  transition: font-size 0.8s;
  font-size: 14px;
  letter-spacing: 0.5px;
  font-weight: 600;
}

.sidebar__profile_email {
  -webkit-transition: font-size 0.8s;
  -o-transition: font-size 0.8s;
  transition: font-size 0.8s;
  font-size: 12px;
  font-weight: 600;
  color: #74777c;
}

.sidebar__profile_options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3px;
  position: relative;
  padding: 5px;
}

.sidebar__profile_options:hover::before {
  background: #151617;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  top: 0px;
  left: 0;
}

.sidebar__profile_options span {
  background: #74777c;
  position: relative;
  border-radius: 30px;
  display: block;
  width: 3px;
  height: 3px;
}

.sidebar__header {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 24px;
}

.sidebar__header img {
  margin-right: 15px;
}

.sidebar__header p {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-right: auto;
  -webkit-transition: font-size 0.8s;
  -o-transition: font-size 0.8s;
  transition: font-size 0.8s;
}

.sidebar__header button {
  background: #151617;
  border: none;
  border-radius: 3px;
  color: #74777c;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 13px;
  outline: 1px solid #27292b;
  padding: 4px 7px;
}

.sidebar__header button:nth-last-child(1) {
  margin-left: 8px;
}

.sidebar__switcher {
  background: #151617;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 48px;
  padding: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 4px;
  outline: 1px solid #27292b;
  margin-bottom: 24px;
}

.sidebar__switcher button {
  background: transparent;
  letter-spacing: 0.5px;
  color: #74777c;
  font-weight: 600;
  font-size: 14px;
  width: 50%;
  border: none;
  border-radius: 4px;
  -webkit-transition: background 0.2s;
  -o-transition: background 0.2s;
  transition: background 0.2s;
}

.sidebar__switcher button.active {
  background: #27292b;
  color: white;
}

.sidebar__switcher button:hover {
  background: #27292b;
  color: white;
}

.sidebar__menu {
  padding: 0 13px 0 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100%;
}

.sidebar__menu_title {
  font-size: 9px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #74777c;
}

.sidebar__menu_title:nth-last-of-type(1) {
  margin-top: auto;
}

.sidebar .menu__item_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.sidebar .menu__item_body:hover::before {
  background: #27292b;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  left: -10px;
}

.sidebar .menu__item_main {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}

.sidebar .menu__item_main.active .menu__item_sub {
  display: block;
}

.sidebar .menu__item_main.active .menu__item_title {
  color: white;
}

.sidebar .menu__item_sub {
  display: none;
}

.sidebar .menu__item_sub ul {
  position: relative;
}

.sidebar .menu__item_sub ul::after {
  background: rgba(116, 119, 124, 0.5);
  position: absolute;
  content: "";
  width: 2px;
  height: calc(100% + 16px);
  left: 12px;
  top: -8px;
}

.sidebar .menu__item_sub li {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  list-style: none;
  position: relative;
  padding: 11px 11px;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 1px;
  color: #74777c;
}

.sidebar .menu__item_sub li:hover {
  background: #151617;
  border-radius: 5px;
  color: white;
}

.sidebar .menu__item_sub li.active {
  background: #151617;
  border-radius: 5px;
  color: white;
}

.sidebar .menu__item_title {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: 600;
  font-size: 14px;
  color: #74777c;
  letter-spacing: 0.5px;
  position: relative;
}

.sidebar .menu__item_title.active {
  color: white;
}

.sidebar .menu__item_icon {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  color: white;
  margin-right: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@supports (-webkit-appearance:none) {

}